
<style>
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
  .pageTitle {
    margin-left: 10px;
  }
  
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Logo"
    src="https://image.flaticon.com/icons/png/512/326/326031.png"
  />
  <span class="pageTitle">Classificados</span>
</div>

<!-- Content -->
<div class="content" role="main">
  <ul class="advertisements">
    <li *ngFor="let advertisement of advertisements"
      [class.selected]="advertisement === selectedAdvertisement"
      (click)="onSelect(advertisement)">
      <span class="badge">{{advertisement.id}}</span> {{advertisement.title}}
    </li>
  </ul>
  
  <div *ngIf="selectedAdvertisement">
  
    <h2>{{selectedAdvertisement.title | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedAdvertisement.id}}</div>
    <div>
      <label>title:
        <input [(ngModel)]="selectedAdvertisement.title" placeholder="title"/>
      </label>
    </div>
  
  </div>
</div>


